<?xml version="1.0"?>
<config>
    <modules>
        <Morfdev_Freshdesk>
            <version>1.0.0</version>
        </Morfdev_Freshdesk>
    </modules>
    <global>
        <helpers>
            <md_freshdesk>
                <class>Morfdev_Freshdesk_Helper</class>
            </md_freshdesk>
        </helpers>
        <blocks>
            <md_freshdesk>
                <class>Morfdev_Freshdesk_Block</class>
            </md_freshdesk>
        </blocks>
        <models>
            <md_freshdesk>
                <class>Morfdev_Freshdesk_Model</class>
            </md_freshdesk>
        </models>
        <resources>
            <md_freshdesk_setup>
                <setup>
                    <module>Morfdev_Freshdesk</module>
                </setup>
            </md_freshdesk_setup>
            <md_freshdesk_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </md_freshdesk_write>
            <md_freshdesk_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </md_freshdesk_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <md_freshdesk>
                    <file>md_freshdesk.xml</file>
                </md_freshdesk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Morfdev_Freshdesk>
                    <files>
                        <default>Morfdev_Freshdesk.csv</default>
                    </files>
                </Morfdev_Freshdesk>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <md_freshdesk before="Mage_Adminhtml">Morfdev_Freshdesk_Adminhtml</md_freshdesk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <md_freshdesk>
                <use>standard</use>
                <args>
                    <module>Morfdev_Freshdesk</module>
                    <frontName>md_freshdesk</frontName>
                </args>
            </md_freshdesk>
        </routers>
    </frontend>
</config>